table,
.maintable,
th,
td {
    border: 1px solid black;
}

/* -------------------------------- HEADER */

header#homepage{
    height: 500px;
    padding: 50px;
    background-image: url("../img/notebook-graph.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#title,
#subtitle {
    color: white;
    margin-bottom: 20px;
}

ul.utilities{
    position: absolute;
    right: 0px;
    
}

ul.utilities li{
    display: inline;
    margin: 10px;
    
}

/* --------------------------------------------- */

/* ------------------------------ MAIN */

main#homepage{
    margin: 100px;
}

main#recorddatascreen{
    margin: 100px;
}

.spacer{
    margin: 40px;
}

.mainBoxes {
    border-radius: 12px;
    height: 400px;
}

.first_divider{
    width: 100%;
    height: 100%;
    margin-bottom: 300px;
}

.dividers{
    width: 100%;
    height: 100%;
    margin-top: 300px;
    margin-bottom: 300px;
}

.resize{
    width: inherit;
    height: 700px;
}

.titles{
    
}

#description {
    background: #FF7400;
}

#vision {
    background: #00ACAC;
}

#examples {
    background: #FFE200;
}

.maintable{
    display: none;
}

.showTable{
    display: inline-block;
}

/* -------------------------------------- */

/* ------------------------------ICONS */
.fa {
    padding: 10px;
    font-size: 15px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa:hover {
    opacity: 0.9;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

/* ----------------------------------------- */


/* --------------------------------FOOTER */
footer {
    width: 100%;
    height: 150px;
    background: #E6E6E6;
}

ul {
    list-style-type: none;
}
/* ---------------------------------------- */