<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />

    <!-- Google API for Charts-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <!-- Getting Social Media Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

    <!-- Program files -->
    <link rel="stylesheet" type="text/css" href="../assets/css/stylesheet.css" />
    <script src="../assets/js/jquery-3.5.0.js"></script>
    <script src="../assets/js/jquery_functions.js"></script>

    <title>About Us - Recording Data Center</title>
</head>

<body>
    <header>
        <div class="d-flex">
            <div class="p-2 mr-auto"><a href="index.html">Home Page</a></div>
            <div class="p-2"><a href="contactus.html">Contact Us</a></div>
        </div>
    </header>

    <main>

        <div class="first_divider">
            <img class="resize" src="../assets/img/data_heart.jpg" alt="Data Heart" />
        </div>
        <div class="dividers">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <h1 class="titles text-center">We love recording data</h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="dividers">
            <img class="resize" src="../assets/img/graphs.jpg" alt="" />
        </div>
        <div class="dividers">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <h1 class="titles text-center">That's why we created this site</h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="dividers">
            <img class="resize" src="../assets/img/data_has_a_better_idea.jpg" alt="" />
        </div>
        <div class="dividers">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <h1 class="titles text-center">
                            To keep track of data like body weight, break time duraction, numbers
                            of coffees a day, and things like that so we can control the
                            controllable.
                        </h1>
                    </div>
                </div>
            </div>
        </div>
        
    </main>

    <!-- Footer -->
    <footer class="page-footer font-small blue pt-4">

        <!-- Footer Links -->
        <div class="container-fluid text-center text-md-left">

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-md-6 mt-md-0 mt-3">

                    <!-- Content -->
                    <h5 class="text-uppercase">Sign up for newsletter</h5>
                    <input type="text" id="email" name="email" placeholder="Email Address"><br>

                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none pb-3">

                <!-- Grid column -->
                <div class="col-md-3 mb-md-0 mb-3">

                    <!-- Links -->
                    <h5 class="text-uppercase">Follow Us</h5>

                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-instagram"></a>
                    <a href="#" class="fa fa-twitter"></a>

                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 mb-md-0 mb-3">

                    <!-- Links -->
                    <h5 class="text-uppercase">Navigation</h5>

                    <ul class="list-unstyled">
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li>
                            <a href="aboutus.html">About Us</a>
                        </li>
                        <li>
                            <a href="contactus.html">Contact Us</a>
                        </li>
                    </ul>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </div>
        <!-- Footer Links -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">
            <p>&copy;2020 Recording Data Center</p>
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->

    <div class="scripts">
        <!-- BOOTSTRAP REQUIRED LIBRARIES -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
        </script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
        </script>
    </div>
</body>

</html>